<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avisos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="post-list">
    <ion-item class="ion-no-padding" *ngFor="let post of postList">
      <div>
        <ion-header>
          <ion-text [ngClass]="{
            'category-red' : post.type == 'criticism',
            'category-yellow' : post.type == 'suggestion',
            'category-green' : post.type == 'compliment'
          }">{{getPostType(post)}}</ion-text>
          <ion-text>{{stringifyDate(post.date)}}</ion-text>
        </ion-header>
        <ion-text>{{post.message}}</ion-text>
        <div>
          <ion-card *ngIf="post.images && post.images.length > 0">
            <img *ngFor="let url of post.images" src="{{url}}" />
          </ion-card>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
